<template>
  <v-layout align-start>
    <v-flex>
<v-toolbar flat color="#00796B">
        <v-toolbar-title>Cargos</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
      <v-btn id="btn-nuevo-cargo" slot="activator" color="#1B5E20" dark class="mb-2">Nuevo</v-btn>   
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                    
                <v-flex xs12 sm12 md12>
                    <v-text-field id="nombre" v-model="nombre" label="Nombre"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field id="sueldo" v-model="sueldo" label="Sueldo"></v-text-field>
                  </v-flex>
                  


                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
              <v-btn  id="agregar-cargo" color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="cargos" :search="search" class="elevation-1">
        <template slot="items" slot-scope="props">
        <td class="text-sm-left">
<!--
            <v-icon small class="mr-2" color="#1A237E" @click="editItem(props.item)">edit</v-icon>
             <v-icon small class="mr-2" color="red" @click="deleteItem(props.item)">delete</v-icon>
          -->
          
          </td>
      <td>{{ props.item.nombre }}</td>
          <td> $ {{ props.item.sueldo}}</td>

        </template>
        <template slot="no-data">
          <v-btn color="#1B5E20" @click="listar">Actualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
    cargos: [],
      dialog: false,
      headers: [
         { text: "", value: "opciones", sortable: false },
        { text: "Nombre", value: "nombre", sortable: false },
        { text: "Sueldo", value: "sueldo", sortable: false },
      ],
      search: "",
      editedIndex: -1,

      //TODO:Model
      
   
      //Model
      id: "",
      nombre: "",
      sueldo: ""

    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Cargo" : "Actualizar Cargo";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    //TODO
    this.listar();
  },
  methods: {
    listar() {
      //TODO
      let me = this;
      axios
        .get("api/cargo")
        .then(function(response){
            me.cargos = response.data;
        })
        .catch(function(error){
            console.log(error);
        })
    },
    editItem(item) {
      //TODO
       this.id = item.id;
      this.nombre = item.nombre;
      this.sueldo = item.sueldo;

      this.editedIndex = 1;
      this.dialog = true;
    },

    close() {
      this.dialog = false;
    },
    limpiar() {
    this.id = "";
      this.nombre = "";
      this.sueldo = "";
    },


    deleteItem(item){
        let me = this;

        axios
        .delete("api/cargo/"+item.id)
        .then(function(response) {
          //console.log(response);
          me.close();
          me.listar();
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    guardar() {
     //TODO
        if(this.editItem > -1){
         let me = this;
         axios
            .put("api/cargo",{
                  id: me.id,
            nombre: me.nombre,
            sueldo: me.sueldo
            })
            .then(function(response){
                me.close();
                me.listar();
                me.limpiar();
            })
            .catch(function(error){
                console.log(error)
            });
        }else{
            //codigo para guardar
            let me = this;
            axios
                .post("api/cargo",{
                
                nombre: me.nombre,
            sueldo: me.sueldo
                })
                
                .then(function(response){
             me.close();
             me.listar();
             me.limpiar();
         })
                .then(function(response){
                    console.log(error);
                });
        }
    }
  }
};
</script>