<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="#5C6BC0">
        <v-toolbar-title>Clientes</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn id="btn-nuevo-cliente" slot="activator" color="#1B5E20" dark class="mb-2">Nuevo cliente</v-btn>
          <v-card color="blue-grey" dark tile flat>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
             <v-flex xs12 sm12 md12  class="text-xs-center">
                    <v-text-field id="nombre_cliente_a_añadir" v-model="nombre" label="Nombre"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" flat @click.native="close">Cancelar</v-btn>
              <v-btn id="guardar_cliente" color="#303F9F" flat @click.native="guardar">Guardar</v-btn>
            </v-card-actions>

            
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="clientes" :search="search" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-sm-left ">
            <v-icon small class="mr-2" color="#1A237E" @click="editItem(props.item)">edit</v-icon>
             <v-icon small class="mr-2" color="red" @click="deleteItem(props.item)">delete</v-icon>
          
          </td>
          <td>{{ props.item.nombre }}</td>
          
        </template>
        <template slot="no-data">
          <v-btn color="#1B5E20" @click="listar">Actualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>


<script>
import axios from "axios";
export default {
  data() 
  {
    return {
      clientes: [],
      dialog: false,
      headers: [
        { text: "Opciones", value: "opciones", sortable: false},
        { text: "Nombres", value: "nombre", sortable: false }
      ],
      search: "",
      editedIndex: -1,

      //Model
      id: "",
      nombre: ""
    };
  },



  computed: 
  {
    formTitle() 
    {
      return this.editedIndex === -1 ? "Nuevo cliente" : "Actualizar cliente";
    }
  },

  watch: 
  {
    dialog(val) 
    {
      val || this.close();
    }
  },
  created() 
  {
    this.listar();
  },

  methods: 
  {
    listar() 
    {
      let me = this;
      axios
        .get("api/cliente")
        .then(function(response) 
        {
          //console.log(response);
          me.clientes = response.data;
        })
        .catch(function(error) 
        {
          console.log(error);
        });
    },

    editItem(item) 
    {
      this.id = item.id;
      this.nombre = item.nombre;

      this.editedIndex = 1;
      this.dialog = true;
    },

    close() 
    {
      this.dialog = false;
    },

    limpiar() 
    {
      this.id = "";
      this.nombre = "";
    },

 


deleteItem(item){
        let me = this;

        axios
        .delete("api/cliente/"+item.id)
        .then(function(response) {
          //console.log(response);
          me.close();
          me.listar();
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    guardar() 
    {
      if (this.editedIndex > -1) 
      {
        //Código para editar

        let me = this;
        axios 
          .put("api/cliente", 
          {
            id: me.id,
            nombre: me.nombre
          })
          .then(function(response) 
          {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) 
          {
            console.log(error);
          });
      } 
      else 
      {
        //Código para guardar
        let me = this;
        axios
          .post("api/cliente", 
          {
            nombre: me.nombre
          })
          .then(function(response) 
          {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) 
          {
            console.log(error);
          });
      }
    }
  }
};
</script>
