<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="#00796B">
        <v-toolbar-title>Empleados</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
        <v-btn id="btn-nuevo-empleado" slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>  
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                    
                  <v-flex xs12 sm12 md12>
                    <v-text-field id="local" v-model="idlocal" label="IdLocal"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field id="cargo" v-model="idcargo" label="IdCargo"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field id="nombre" v-model="nombre" label="Nombre"></v-text-field>
                  </v-flex>
                    <v-flex xs12 sm12 md12>
                    <v-text-field id="apellido" v-model="apellido" label="Apellido"></v-text-field>
                  </v-flex>
                    <v-flex xs12 sm12 md12>
                    <v-text-field id="direccion" v-model="direccion" label="Direccion"></v-text-field>
                  </v-flex>
                    <v-flex xs12 sm12 md12>
                    <v-text-field id="celular" v-model="celular" label="Celular"></v-text-field>
                  </v-flex>

                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
              <v-btn id="agregar-empleado" color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="empleados" :search="search" class="elevation-1">
        <template slot="items" slot-scope="props">
        <td class="text-sm-left">

     <!--   <v-icon small class="mr-2" color="#1A237E" @click="editItem(props.item)">edit</v-icon>
          <v-icon small class="mr-2" color="red" @click="deleteItem(props.item)">delete</v-icon> -->
          
          
          </td>
          <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.apellido }}</td>
            <td>{{ props.item.direccion }}</td>
             <td>{{ props.item.celular }}</td>

        </template>
        <template slot="no-data">
          <v-btn color="#1B5E20" @click="listar">Actualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      empleados: [],
      dialog: false,
      headers: [
         { text: "", value: "opciones", sortable: false },
        { text: "Nombre", value: "nombre", sortable: false },
         { text: "Apellido",value: "apellido", sortable: false },
        { text: "Direcc.", value: "direccion", sortable: false },
        { text: "Cel", value: "celular", sortable: false }
      ],
      search: "",
      editedIndex: -1,

      //TODO:Model
      
      id:"",
      idlocal:"",
      idcargo:"",
      nombre:"",
      apellido:"",
   direccion:"",
     celular:""
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Empleado" : "Actualizar Empleado";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    //TODO
    this.listar();
  },
  methods: {
    listar() {
      //TODO
      let me = this;
      axios
        .get("api/empleado")
        .then(function(response){
            me.empleados = response.data;
        })
        .catch(function(error){
            console.log(error);
        })
    },
    editItem(item) {
      //TODO
      this.id = item.id;
      this.idlocal= item.idlocal;
      this.idcargo= item.idcargo;
       this.nombre= item.nombre;
        this.apellido= item.apellido;
         this.direccion= item.direccion;
          this.celular= item.celular;
      
      this.editItem = 1;
      this.dialog = true;
    },

    close() {
      this.dialog = false;
    },
    limpiar() {
  this.id = "";
      this.idlocal= "";
      this.idcargo= "";
       this.nombre= "";
        this.apellido= "";
         this.direccion= "";
          this.celular= "";
       
    },


    deleteItem(item){
        let me = this;

        axios
        .delete("api/empleado/"+item.id)
        .then(function(response) {
          //console.log(response);
          me.close();
          me.listar();
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    guardar() {
     //TODO
        if(this.editItem > -1){
         let me = this;
         axios
            .put("api/empleado",{
                id: me.id,
                idlocal:me.idlocal,
                idcargo: me.idcargo,
                nombre: me.nombre,
                apellido: me.apellido,
                direccion: me.direccion,
               celular: me.celular
                
            })
            .then(function(response){
                me.close();
                me.listar();
                me.limpiar();
            })
            .catch(function(error){
                console.log(error)
            });
        }else{
            //codigo para guardar
            let me = this;
            axios
                .post("api/empleado",{
                
               
                idlocal:me.idlocal,
                idcargo: me.idcargo,
                nombre: me.nombre,
                apellido: me.apellido,
                direccion: me.direccion,
               celular: me.celular
                })
                
                .then(function(response){
             me.close();
             me.listar();
             me.limpiar();
         })
                .then(function(response){
                    console.log(error);
                });
        }
    }
  }
};
</script>