<template>
<v-layout align-start >
    <v-flex>
    <v-toolbar flat color="#5C6BC0">
            <v-toolbar-title>Ventas</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
      
             <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>

            <v-btn  id="btn-nueva-venta" v-if="verNuevo==0" @click="mostrarNuevo" color="#1B5E20" dark class="mb-2">Nueva Venta</v-btn>

            <v-dialog v-model="verProductos" max-width="1000px">
               <v-card color="blue-grey" dark tile flat>
                    <v-card-title>
                        <span class="headline">Seleccione un producto</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12 lg12 xl12>
                                    <v-text-field append-icon="search" class="text-xs-center" v-model="texto" label="Ingrese producto a buscar" @keyup.enter="listarProducto()">

                                    </v-text-field>
                                    <template>
                                        
                                        <v-data-table :headers="cabeceraProductos" :items="productos" class="elevation-1">
                                            <template slot="items" slot-scope="props">
                                                <td class="justify-center layout px-0">
                                                    <v-icon id="agregar-producto-alcarro" small class="mr-2" @click="agregarDetalle(props.item)">
                                                     shopping_cart
                                                    </v-icon>
                                                </td>
                                                <td>{{props.item.id }}</td>
                                                <td>{{props.item.nombre }}</td>
                                                <td>{{props.item.precio}}</td>
                                            </template>
                                            <template slot="no-data">
                                                <h3>No hay productos para mostrar.</h3>
                                            </template>
                                        </v-data-table>
                                    </template>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn id="btn-salir-agregar-productos" @click="ocultarProductos()" color="red" flat>
                            Cancelar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>

      <v-data-table :headers="headers" :items="ordenes" :search="search" class="elevation-1" v-if="verNuevo==0">

            <template slot="items" slot-scope="props">
     <td>{{ props.item.ordenNro }}</td>
                        <td>{{ props.item.pagoMetodo }}</td>
                            <td>{{ props.item.nombreCliente}}</td>
                 <td>{{ props.item.nombreEmpleado}}</td>
           
            <td>$ {{ props.item.total }}  </td>
           
             

            </template>
            <template slot="no-data">
                <v-btn color="#1B5E20"  @click="listar">Resetear</v-btn>
            </template>

        </v-data-table>
        

        <v-container grid-list-sm class="pa-4 white" v-if="verNuevo">
            <v-layout row wrap>
                <v-flex xs12 sm4 md4 lg4 xl4>
                    <v-select  id="select-metodo-pago" v-model="metodoPago" :items="metodosPagos" label="Metodo de Pago">
                    </v-select>
                </v-flex>
                <v-flex xs12 sm4 md4 lg4 xl4>
                    <v-text-field id="numero-orden" v-model="numeroOrden" label="Numero Orden">
                    </v-text-field>
                </v-flex>
                 <v-flex xs12 sm8 md8 lg8 xl8>
                    <v-select id="select-empleado" v-model="empleadoId" :items="empleados" label="Empleado">
                    </v-select>
                </v-flex>

                <v-flex xs12 sm8 md8 lg8 xl8>
                    <v-select id="select-cliente" v-model="clienteId" :items="clientes" label="Cliente">
                    </v-select>
                </v-flex>

                <v-flex xs12 sm4 md4 lg4 xl4>
                    <v-text-field id="total" v-model="total" label="Total">
                        
                    </v-text-field>
                </v-flex>

                <v-flex xs12 sm2 md2 lg2 xl2>
                    <v-btn id="btn-mostrar-productos" @click="mostrarProductos()" small fab dark color="teal">
                        <v-icon dark>list</v-icon>
                    </v-btn>
                </v-flex>

                <v-flex xs12 sm2 md2 lg2 xl2 v-if="errorProducto">
                    <div class="red--text" v-text="errorProducto">
                    </div>
                </v-flex>

                <v-flex xs12 sm12 md12 lg12 xl12>
                    <v-data-table :headers="cabeceraDetalles" :items="detalles" hide-actions class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <td class="justify-center layout px-0">
                                <v-icon small class="mr-2" @click="eliminarDetalle(detalles,props.item)">
                                    delete
                                </v-icon>
                            </td>
                            <td>{{props.item.nombreProducto}}</td>
                            <td>
                                <v-text-field type="number" v-model="props.item.cantidad"></v-text-field>
                            </td>
                            <td>
                                <v-text-field type="number" v-model="props.item.precio"></v-text-field>
                            </td>

                           <td>    {{props.item.cantidad * props.item.precio}}</td>
                           
                        </template>
                        <template slot="no-data">
                            <h2>No hay productos agregados.</h2>
                        </template>
                    </v-data-table>
                </v-flex>

                <v-flex xs12 sm12 md12 lg12 xl12>
                    <v-btn @click="ocultarNuevo()" color="red"  flat>Cancelar</v-btn>
                    <v-btn id="btn-guardar-venta" @click="guardar()" color="#303F9F">Guardar</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-flex>
</v-layout>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {

            dialog: false,
            headers: [{
                    text: 'Orden Nro',
                    value: 'ordennro'
                },
                 {
                    text: 'Metodo Pago',
                    value: 'pagometodo',
                    sortable: false
                },
                {
                    text: 'Cliente',
                    value: 'cliente'
                },
                {
                    text: 'Empleado',
                    value: 'empleado'
                },
                
            
                 {
                    text: 'Total',
                    value: 'total',
                    sortable: false
                }
                
               
               
            ],


            cabeceraDetalles: [{
                    text: 'Borrar',
                    value: 'borrar',
                    sortable: false
                },
                {
                    text: 'Producto',
                    value: 'nombreProducto',
                    sortable: false
                },
                
                {
                    text: 'Cantidad',
                    value: 'cantidad',
                    sortable: false
                },{
                    text: 'Precio',
                    value: 'precio',
                    sortable: false
                }
            ],
     search: "",

            verNuevo: 0,
            verProductos: 0,

            errorProducto: '',
            texto: '',

            detalles: [],
            productos: [],
             empleados: [],
            clientes: [],
            ordenes: [],

            
            clienteId: '',
            empleadoId: '',
            metodosPagos: ['Tarjeta', 'Efectivo'],
            metodoPago: '',
            numeroOrden: '',
            total: 0,

            cabeceraProductos: [{
                    text: 'Seleccionar',
                    value: 'seleccionar',
                    sortable: false
                },
                {
                    text: 'Codigo',
                    value: 'codigo'
                },
                {
                    text: 'Producto',
                    value: 'producto'
                },
                {
                    text: 'Precio',
                    value: 'precio',
                    sortable: false
                }
            ]
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.listar();
        this.listarClientes();
         this.listarEmpleados();
        this.listarProducto();
    },

    methods: {
        mostrarNuevo() {
            this.verNuevo = 1;
        },
        ocultarNuevo() {
            this.verNuevo = 0;
            this.limpiar();
        },

        mostrarProductos() {
            this.verProductos = 1;
        },
        ocultarProductos() {
            this.verProductos = 0;
        },

        listarProducto() {
            let me = this;

            axios.get('api/producto/' + me.texto).then(function (response) {
                console.log(response);
                me.productos = response.data;
            }).catch(function (error) {
                console.log(error);
            });
        },

        listar() {
            let me = this;

            axios.get('api/orden').then(function (response) {
                //console.log(response);
                me.ordenes = response.data;
            }).catch(function (error) {
                console.log(error);
            });
        },

        listarClientes() {
            let me = this;
            var clientesArray = [];
            axios.get('api/cliente').then(function (response) {
                // console.log(response.data);
                clientesArray = response.data;
                clientesArray.map((p) => {
                    me.clientes.push({
                        text: p.nombre,
                        value: p.id
                    });
                });
            }).catch(function (error) {
                console.log(error);
            });
        },

         listarEmpleados() {
            let me = this;
            var empleadosArray = [];
            axios.get('api/empleado').then(function (response) {
                // console.log(response.data);
                empleadosArray = response.data;
                empleadosArray.map((p) => {
                    me.empleados.push({
                        text: p.nombre,
                        value: p.id
                    });
                });
            }).catch(function (error) {
                console.log(error);
            });
        },

        agregarDetalle(data = []) {

            console.log(data);
            this.errorProducto = null;
            if (this.encuentra(data['id'])) {
                this.errorProducto = "El producto ya ha sido agregado."
            } else {
                this.detalles.push({
                    ProductoId: data['id'],
                    nombreProducto: data['nombre'],
                    cantidad: 1,
                    precio: data['precio']
                });
            }
        },

        encuentra(Id) {
            var sw = 0;
            for (var i = 0; i < this.detalles.length; i++) {
                if (this.detalles[i].productoId == Id) {
                    sw = 1;
                }
            }
            return sw;
        },

        eliminarDetalle(arr, item) {
            var i = arr.indexOf(item);
            if (i !== -1) {
                arr.splice(i, 1);
            }
        },

        guardar() {

            let me = this;

            axios
                .post("api/orden", {
                    clienteId: me.clienteId,
                    empleadoId: me.empleadoId,
                    ordenNro: me.numeroOrden,
                    pagoMetodo: me.metodoPago,
                    total: me.total,
                    detalleOrden: me.detalles
                })
                .then(function (response) {
                    me.ocultarNuevo();
                    me.listar();
                    me.limpiar();
                })
                .catch(function (error) {
                    console.log(error);
                    console.log(me.detalles)
                });
        },

        limpiar() 
        {

            this.clienteId = '';
             this.empleadoId = '';
            this.metodoPago = '';
            this.numeroOrden='';
            this.detalles = [];
            this.total = 0;
        },

    },

}
</script>
