<template>
  <v-app id="app">
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
      <v-list dense>
        <template>
          <v-list-tile :to="{name:'home'}">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>
              Inicio
            </v-list-tile-title>
          </v-list-tile>
        </template>

        <template>
          <v-list-group>
            <v-list-tile id="mantenimiento" slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  Mantenimiento
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile id="clientes" :to="{ name: 'clientes'}">
              <v-list-tile-action>
                <v-icon>person</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Clientes
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

             


  <v-list-tile id="productos" :to="{ name: 'productos'}">
              <v-list-tile-action>
                <v-icon>fastfood</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Productos
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

 <v-list-tile id="ventas" :to="{ name: 'ordenes'}">
              <v-list-tile-action>
                <v-icon>assignment</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                 Ventas 
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>





          </v-list-group>


          <v-list-group>
            <v-list-tile id="staff" slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  Staff
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>


 <v-list-tile id="cargos" :to="{ name: 'cargos'}">
              <v-list-tile-action>
                <v-icon>build</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Cargos
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

             <v-list-tile id="locales" :to="{ name: 'locales'}">
              <v-list-tile-action>
                <v-icon>where_to_vote</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Locales
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

 <v-list-tile id="empleados" :to="{ name: 'empleados'}">
              <v-list-tile-action>
                <v-icon>wc</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Empleados
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

           
          

          </v-list-group>


          
        </template>
        
       
        
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color=#303F9F
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Mr Meat</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <v-footer dark height="auto">
      <v-layout justify-center>
        <v-flex text-xs-center>
          <v-card flat tile color="#303F9F" class="white--text">
            <v-card-text class="white--text pt-0" style="margin-left:20px">
             @Mr Meat Derechos Reservados 2019-01     
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>

  </v-app>
</template>
<script>

export default {
  name: 'App',
  data () {
    return {
       drawer: true,
    }
  }
}
</script>
